body {
    font-family: "Montserrat", Geneva, Tahoma, sans-serif;
}

p {
    font-family: "Open Sans", Geneva, Tahoma, sans-serif;
}

img {
    border-radius: 10px;
}

h1 {
    font-size: 5rem;
}

/* --- Class CSS --- */

.fade-in {
    animation: fadeInAnimation ease 1s, moveTop ease-out 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1; 
     }
}

@keyframes moveTop {
    0% {
        top: 40px;
    }
    100% {
        top: 0px;
    }
}
  
.logo{
    transition: width 500ms ease-in-out, rotate 500ms ease-in-out;
}

.logo:hover{
    width: 30% !important;
    rotate: 10deg;
    transition: width 500ms ease-in-out, rotate 500ms ease-in-out;  
}


.top-img {
    background-image: url("./img/image-from-rawpixel-id-3285053-jpeg.jpg");
    background-size: cover;
    min-height: 100vh;
}

.icon-pos {
    position: absolute;
    bottom: 30px;
}

.icon-anim {
    animation: bounce 3s ease-out;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes bounce {
    0% {
        bottom: 30px;
    }
    5% {
        bottom: 40px;
    }
    10% {
        bottom: 45px;
    }
    15% {
        bottom: 40px;
    }
    20% {
        bottom: 30px;
    }
    25% {
        bottom: 37px;
    }
    30% {
        bottom: 40px;
    }
    35% {
        bottom: 37px;
    }
    40% {
        bottom: 30px;
    }
    45% {
        bottom: 35px;
    }
    50% {
        bottom: 37px;
    }
    55% {
        bottom: 35px;
    }
    60% {
        bottom: 30px;
    }
}

.about-author {
    color:rgb(172, 122, 48);
}

.author {
    text-align:center;
    padding: 10px;
    
}

.cardbody {
    padding: 10px 0px;
}

.textos {
    padding: 0px 10px 10px 10px;
}

.test:hover {
    filter: drop-shadow(2px 2px 4px #cccccc);
    transition: filter 50ms linear 50ms;
}

.nb-stuff {
    /*margin: 10px 10px;
    border-radius: 20px;*/
    background-color: #32281c;
}

.nb-stuff:hover {
    filter: drop-shadow(0px 3px 3px #3d352c);
    transition: filter 250ms ease-in 25ms;
}

.showcase {
    background-color: rgb(172, 122, 48);
}

.overview-font {
    font-size: 1em;
}

.row-extra {
    border-top: solid 2px white;
    margin: 0;
}

.icon-white {
    color: #000;
}

.row-thing {
    background-color: #dec099;
    border-radius: 20px;
    margin: 15px 0px;
}

/* --- ID CSS --- */

#ovPadLeft {
    padding-left: 20px;
}

#ovPadRight {
    padding-right: 20px;
}

#img-thing {
    margin: 0;
}

div#about {
    margin: auto;
}

#procedure-block {
    padding: 20px 0px;
}

/* --- Underline Animation CSS --- */

.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}

#navmenu ul li {
    padding: 0px 20px;
}