/* --- Element CSS --- */

/* Sets basic font families*/
body {
    font-family: "Montserrat", Geneva, Tahoma, sans-serif;
}

p {
    font-family: "Open Sans", Geneva, Tahoma, sans-serif;
}

/* Resizes h1 (title size) based off of viewport width */
h1 {
    font-size: max(calc(5vw), 3.5rem);
}


/* Changes how links look*/
a {
    text-decoration: none;
    color: #FE8529;
}

a:hover {
    color: #4d3f2d;
}



/* --- Class CSS --- */

/* 
    Base fade animations; These are used throughout the site and are employed through JS  
*/

/* Initial fading class, transparent */
.fades, .fadesRight, .fadesLeft {
    opacity: 0%;
}

/* Fades towards the top */
.fade-in {
    animation: fadeInAnimation ease 1s, moveTop ease-out 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* Fades towards the right */
.fade-right {
    animation: fadeInAnimation ease 1s, moveRight ease-out 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* Fades towards the left */
.fade-left {
    animation: fadeInAnimation ease 1s, moveLeft ease-out 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* Fade keyframes */
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1; 
     }
}

@keyframes moveTop {
    0% {
        top: 40px;
    }
    100% {
        top: 0px;
    }
}

@keyframes moveRight {
    0% {
        right: 100px;
    }
    100% {
        right: 0px;
    }
}

@keyframes moveLeft {
    0% {
        left: 100px;
    }
    100% {
        left: 0px;
    }
}

/* 
    Page Loading + Navbar Formatting
*/

/* Sets size and shape of a container, w background of a given image */
.top-img {
    background-size: cover;
    min-height: 100vh;
}

/* Base navbar class (has a drop shadow) */
.nb-stuff {
    /*margin: 10px 10px;
    border-radius: 20px;*/
    transition: filter 500ms ease-in;
}

.nb-stuff:hover {
    filter: drop-shadow(0px 3px 3px #3d352c);
    transition: filter 500ms ease-out;
}

/* Class used to animate navbar back to transparent after being shifted to the top */
.post-anim-nb {
    animation: fill-out ease-in 250ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* Animations for navbar background filling */

@keyframes fill-in {
    0% {
        background-color: rgba(50, 40, 28, 0)
    }
    100% {
        background-color: rgba(50, 40, 28, 100)
    }
}

@keyframes fill-out {
    0% {
        background-color: rgba(50, 40, 28, 100)
    }
    100% {
        background-color: rgba(50, 40, 28, 0)
    }
}
 
/* Logo animation, sizes up and rotates a bit when hovered over */
.logo{
    transition: width 500ms ease-in-out, rotate 500ms ease-in-out;
}

.logo:hover{
    width: 60% !important;
    rotate: 10deg;
    transition: width 500ms ease-in-out, rotate 500ms ease-in-out;  
}

/* Absolute positioning of down arrow */
.icon-pos {
    position: absolute;
    bottom: 30px;
}

/* Vertical movement of icon */
.icon-anim {
    animation: bounce 3s ease-out;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

/* Vertical movement keyframes */

@keyframes bounce {
    0% {
        bottom: 30px;
    }
    5% {
        bottom: 40px;
    }
    10% {
        bottom: 45px;
    }
    15% {
        bottom: 40px;
    }
    20% {
        bottom: 30px;
    }
    25% {
        bottom: 37px;
    }
    30% {
        bottom: 40px;
    }
    35% {
        bottom: 37px;
    }
    40% {
        bottom: 30px;
    }
    45% {
        bottom: 35px;
    }
    50% {
        bottom: 37px;
    }
    55% {
        bottom: 35px;
    }
    60% {
        bottom: 30px;
    }
}

/* Size of review font, based off of viewport size */
.responsive-revs {
    font-size: max(calc(2.5vw - 20px), 18px);
}

/* Rounded borders */
.border-round {
    border-radius: 20px;
}

/*
    Card formatting and animations
*/

/* Base card class; has a drop shadow, also rounded */
.staffcard{
    transition: filter 500ms ease-in;
    border-radius: 15px;
}

.staffcard:hover{
    filter: drop-shadow(0px 3px 3px #3d352c);
    transition: filter 500ms ease-in;
}

/* Delayed fade-ins of cards */

.row .fades:nth-of-type(1) {
    animation-delay: 150ms;
}

.row .fades:nth-of-type(2) {
    animation-delay: 300ms;
}

.row .fades:nth-of-type(3) {
    animation-delay: 450ms;
}

/* Card image rounded */

.staffcard img {
    border-radius: 15px;
}

/* Some important colors for the color scheme (should change this to variables at some point?) */

.yellow-col {
    background-color: #d09c43;
    border-color: #d09c43;
}

.beige-col {
    background-color: #eee7d9;
    border-color: #eee7d9;
    ;
}

.orange-col {
    background-color: #FE8529;
    border-color: #FE8529
}

.brown-col {
    background-color: #4d3f2d;
    border-color: #4d3f2d;

}

/* Special; used for navbar animation */
.dark-brown-col {
    animation: fill-in ease-out 250ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


/* --- ID CSS --- */


/* --- Underline Animation CSS --- */

.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.45s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1.3);
}

#navmenu ul li {
    padding: 0px 20px;
}

/*@media screen and (max-width: 576px) {
    .hover-underline-animation:hover:after {
        transform: scaleX(0.3);
        transform-origin: bottom right;
    }

    .hover-underline-animation:after {
        transform-origin: bottom right;
    }
}*/



@media screen and (max-width: 992px) {

    .nb-stuff, .dark-brown-col, .post-anim-nb {
        background-color: rgba(50, 40, 28, 100);
        animation: none;
    }
}